/* 共通のスタイル */
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Meiryo UI', 'MS Gothic', sans-serif;
}

/* ヘッダースタイル */
header {
  background-color: #00205A;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 998;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transition: all .5s ease;
}

.tate_logo {
  background-color: white;

}

.tate_logo {
  fill: #000;
  padding: 1rem 2rem;
}

header a {
  text-decoration: none;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: white;
}

header img {
  width: 5rem;
  margin: 0 1rem;
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}


header h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Shippori Mincho', serif;
}

.menu ul {
  margin: 0;
  margin-right: 1rem;
}

.menu li {
  list-style: none;
  display: inline-block;
  padding: 10px;

}

.menu a {
  position: relative;
  /*アンダーラインの位置を決めるための基準 */
  font-family: serif;
  font-weight: bolder;
}

.menu a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: white;
  bottom: -6px;
  /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.3s;
  /*変形の時間*/
}

.menu a:hover::after {
  transform: scale(1, 1);
  /*ホバー後、x軸方向に1（相対値）伸長*/
}

/* ドロップダウンメニュー */
.dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  position: absolute;
  top: 40px;
  left: -35px;
}

.drop {
  position: relative;
}

.drop:hover .dropdown__lists {
  display: block;/*ホバーしたら表示*/
}
.dropdown__list {
  background-color: #00205A;
  width: 120%;
  font-size: 0.9rem;
  transition: all .3s;
  position: relative;
  opacity: 0.9;
}
.dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.dropdown__list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 3px;
  top: calc(50% - 5px);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 3s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.news li {
  padding-top: 2rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
  color: #00205A;
  font-family: 'Shippori Mincho', serif;
  font-weight: 700;
}

.sub_title {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #00205A;
  font-family: 'Shippori Mincho', serif;
  font-weight: 800;
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 20px 0;
}

.members {
  max-width: 80vw;
  margin: 0 auto;
}

.members h3 {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: solid;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.card h4 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 1rem
}

.card a {
  color: black;
  text-decoration-line: none;
}

.card_img {
  height: 230px;
  width: 200px;
}

.card_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.card_body {
  padding: 10px;
}

.zh {
  font-family: 'Microsoft YaHei', 'PingFang SC', sans-serif;
  font-weight: 500;
}

.header_back {
  height: 92px;
}


footer {
  margin-top: 10rem;
  width: 100%;
  /* text-align: center; */
  padding: 2rem 0;
  padding-top: 4rem;
  background-color: #EFEFEF;
  font-size: 15px;
  color: #4b5564;
}

.footer-text {
  color: #fff;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #4b5564;
  text-decoration: none;
}

.footer a:hover {
  color: #000;
}

hr {
  height: 1px;
  margin: 2rem 0;
}

.copyright {
  text-align: center;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}


.news .box li {
  padding: 2rem 0;
  border-bottom: solid 1px #E0E0E0;
  display: flex;
}

.top_news li {
  padding: 2rem 0;
  border-bottom: solid 1px #E0E0E0;
  display: flex;
}

.news .box li:first-child {
  border-top: solid 1px #E0E0E0;
  padding-top: 2rem;
  margin-top: 1rem;
}

.top_news li:first-child {
  border-top: solid 1px #E0E0E0;
  padding-top: 2rem;
  /* margin-top: 1rem; */
}

.top_news li:last-child {
  border-bottom: none;
  margin-bottom: 3rem;
}


dd {
  margin: 0;
}


.news a {
  color: #000;
}

.news dt {
  margin-right: 3rem;
  font-weight: bolder;
}

.contact dt {
  margin-right: 1rem;
  font-weight: bolder;
}


.footer img {
  margin-bottom: 2rem;
}



.face_img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px #4b5564;
  margin-bottom: 10px;
}

.face_img {
  text-align: center;
  margin-top: 4rem;
}

.top_member {
  background-color: #EFEFEF;
  padding: 3rem 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.top_member h4,
.contact h4 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bolder;
  margin: 0;
  font-size: 2rem;
}

.top_member .role,
.contact .role {
  font-size: 1.3rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bolder;
}



.detail {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  text-align: left;
}

a.btn-flat {
  padding: 0.5rem 1.5rem;
  color: #4b5564;
  border-radius: 3;
  border: solid 1px #4b5564;
  transition: all .5s ease;
}

a.btn-flat:hover {
  color: #fff;
  background-color: #4b5564;
}

.header_right .btn{
  border-radius: 30px;
  color: #fff;
  border: solid 1px #fff;
  padding: 8px 10px;
  padding-right: 12px;
  margin-right: 1rem;
}

.header_right a.btn-flat:hover {
  background-color: #4b5564;
}

.header_right .btn span {
  font-size: 0.9rem;
}


.header_right img {
  width: 24px;
  margin: 0;
  margin-right: 5px;
}

.about_detail .btn-flat {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  color: #4b5564;
  border-radius: 3;
  border: solid 2px #4b5564;
  transition: all .5s ease;
}

.contact li {
  padding: 0.5rem 1rem;
  /* border-bottom:solid 1px #E0E0E0; */
  display: flex;
}

.contact li:last-child {
  padding: 0 1rem;
}




#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* 研究室について */
.about_img{
  height: 400px; 
  background-image: url("../picture/about.jpg");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
.about_detail p{
  padding: 3rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 600;
  text-align: left;
}

.about_detail {
  text-align: center;
}

.about .sub_title{
  padding: 3rem 0;
}

.about {
  padding-bottom: 5rem;
}

/* アクセス */
.route img {
  width: 70%;
}

.route {
  text-align: center;
  margin: 5rem 0;
}

.map {
  margin: 5rem 0;
}

.address {
  padding: 3rem;
}
.address p {
  font-size: 1.2rem;
  line-height: 1.7;
  
}

.address a {
  color:#000;
  text-decoration: none;
}

.address .bold {
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: solid 1px #E0E0E0;
}

.caution {
  margin: 5rem 0;
  
}

.caution_text{
  list-style: none;
  padding-left: 1.5em;
  margin-left: 0.5em;
  
}

.caution_text span{
  font-weight: bold;
  padding: 0 5px
}

.caution_text li:before{
  content: "※";
  margin-right: 0.5em;
}

/* リンク集 */
.link_title {
  font-size: 1.5rem;
  font-family: 'Shippori Mincho', serif;
  padding: 8px 0;
  border-bottom: solid 1px #E0E0E0;
  /* border-top: solid 1px #333; */
}

.link a{
  color: #4b5564;
  font-size: 1.3rem;
  font-family: 'Shippori Mincho', serif;
  display: block;
  margin-bottom: 3rem;
}

/* アコーディオン */
/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  margin:0 auto;
}

.accordion-area > li {
  margin-bottom: 2rem;
}



/*アコーディオンタイトル*/
.accordion-area .title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:2rem;
  font-weight: normal;
  text-align: left;
  padding-left: 3rem;
  transition: all .5s ease;
  font-weight: 600;
  margin: 0;
}

.news .accordion-area .title {

  font-size:1.5rem;
  color: #4b5564;
  font-weight: 500;

}


/*アイコンの＋と×*/
.accordion-area .title::before,
.accordion-area .title::after{
  position: absolute;
  content:'';
  width: 20px;
  height: 2px;
  background-color: #333;
  
}
.accordion-area .title::before{
  top:53%;
  left: 15px;
  transform: rotate(0deg);
  
}
.accordion-area .title::after{    
  top:53%;
  left: 15px;
  transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.accordion-area .title.close::before{
transform: rotate(45deg);
}

.accordion-area .title.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
}

.interviewee {
  color: #000;
}

.interview {
  list-style-type: none;
}

.interview_inner_ul {
  list-style-type: circle;
}

.interview_inner_ul li {
  padding-top: 0;
}

.container a,
.container a:visited {
  text-decoration-color: #000;
  color: #000;
}