/* 共通のスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', sans-serif;

}


.container {
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

/* ヘッダーのスタイル */
header {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* 背景色を白にする */
    flex-direction: column; /* 縦方向に並べる */
    margin: auto;
}

/*画像の位置設定*/

.bgimg {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.bgimg img {
    max-width: 1200px;
    width: 100%;
    z-index: 0;
    border-radius: 5px;
    margin-bottom: 20px;  

}

/*画像のフェード*/


.im:nth-of-type(1) {
    animation: change-img-anim-first 20s infinite;
    animation-delay: 0s;
}

.im:nth-of-type(2) {
    animation: image-switch-animation 20s infinite;
    position: absolute;
    top: 0;
    left: auto;

}


@keyframes change-img-anim-first {
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}

}

@keyframes image-switch-animation {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}

}
  

.wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center; /* 要素を揃える */
    width: 100%; /* 横幅いっぱいにする */
    /* overflow: visible; を削除する */
}


.logo img {
    width:100px;
    max-width: 100%;
}

/*ハンバーガーメニュー用(スマホ用の≡やで)*/

.hamburger-menu {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 90%;
    height: 4px;
    background-color: black; /* 紫色にする */
    margin-bottom: 8px;
    position: relative;
    left: 5px;
}

.hamburger-menu span:last-child {
    margin-bottom: 0;
}

/*ナビゲーションバー*/

.navi {
    width: 100vw;
    background-color: rgb(213, 227, 245);
}

/*タブの項目があるところ*/

.menu {
    display: flex;
    flex: 1; /* 残りのスペースを埋める */
    justify-content: center;
}

.menu ul {
    display: flex;
    justify-content: center; /* メニューを中央寄せする */

}


.menu li {
    list-style: none;
    z-index: 1;
}

.menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black; /* 文字色を黒にする */
    transition: 1s ease;
    transition-property: background-color;
    font-weight: 500;
}

.menu a:hover {
    background-color: purple; /* ホバー時に紫色にする */
    color: white; /* 文字色を白にする */
    transition: all 1s ease;
}

/*地球儀マークあたり*/

.language-switch {
    display: flex;
    margin:0 0 0 auto;

}

.language-switch img {
    width: 40px;
}

.language-switch a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black; /* 文字色を黒にする */
    transition: 1s ease;
    transition-property: background-color;
    border-radius: 5px;
}

.language-switch a:hover {
    background-color: purple; /* ホバー時に紫色にする */
    color: white; /* 文字色を白にする */
    transition: 1s ease;
    transition-property: background-color;
}

/* sub-menuのul要素にdisplay: noneを指定して、最初は非表示にする */
.sub-menu ul {
    display: none;
    position: absolute; 
    background-color: transparent; /* 背景色を透明にする */
}

.sub-menu ul li {
    border: 1px solid #888;
    border-radius: 5px;
    background-color: rgb(213, 227, 245);
}

.sub-menu ul a {
    padding: 10px; /* 余白をとる */
}

/* sub-menu:hoverのul要素にdisplay: blockを指定して、hover時に表示する */
.sub-menu:hover ul {
    display: block;
}

/* メインコンテンツのスタイル */


main {
    padding: 40px; /* 余白をとる */
    padding-top: 60px;
    background-color: whitesmoke; /* 背景をに変更する */
    margin: auto;
    margin-top: -20px;

    
}

main div {
    flex-direction: column;
    margin: auto;


}

main h2 {
    font-size: 24px; /* 見出しサイズを大きくする */
}

main p {
    font-size: 16px; /* 段落サイズを適切にする */
    margin-right: auto;
}

/* ニュース欄のスタイル */
.news {
    margin: 20px auto; /* 余白をとる */
    border: 1px solid #CCC; /* 枠線をつける */
    border-radius: 10px; /* 角を丸くする */
    max-width: 1200px;
}

.news h2 {
    font-size: 24px; /* 見出しサイズを大きくする */
    padding: 10px; /* 余白をとる */
    background-color: #EEE; /* 背景色を灰色にする */
}

.news ul {
    list-style-type: none; /* リストマークをなくす */
}

.news li {
    font-size: 16px; /* 文字サイズを適切にする */
    padding: 10px; /* 余白をとる */
}

.news li:nth-child(even) {
    background-color: #F0F0F0; /* 偶数番目の背景色を薄い灰色にする */
}

/* ニュース一覧ボタンのスタイル */
.button {
    display: block; /* ブロック要素にする */
    width: 200px; /* 幅を指定する */
    height: 40px; /* 高さを指定する */
    margin: 20px auto; /* 中央寄せにする */
    text-decoration: none; /* 下線をなくす */
    text-align: center; /* テキストを中央寄せにする */
    line-height: 40px; /* テキストを垂直方向に中央寄せにする */
    font-size: 18px; /* フォントサイズを適切にする */
    font-weight: bold;
    color: white; /* 文字色を白にする */
    background-color: purple; /* 背景色を紫色にする */
    border: none; /* 枠線をなくす */
    border-radius: 10px; /* 角を丸くする */
    transition: background-color 1s ease;
}

.button:hover {
    cursor: pointer; /* カーソルをポインターにする */
    background-color: #C0C0FF; /* 背景色を薄い紫色にする */
    transition: all 1s ease;
}


/* フッターのスタイル */
footer {
    display: flex;
    padding: 20px; /* 余白をとる */
    background-color:#f0f0f0; /* 背景色を白にする */
}

footer p {
    font-size: 14px; /* フォントサイズを小さくする */
    margin: auto;
    margin-left: 0;
}

.link_url {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.link_url a {
    text-decoration: none;
    color: black; /* 文字色を黒にする */
    margin-left: 100px;
    font-size: 14px;
}


/* メディアクエリでレスポンシブ対応 */
@media screen and (max-width: 768px) {

    * {
        -webkit-tap-highlight-color: transparent;
    }
    
    header {

        
    }


    .bgimg img {
        width: 100vw;

    }

    
    h1 {
        font-size: 23px;

    }

    .logo {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px; 
        z-index: 10;  
         
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color:white; 
        flex-direction: column; 
        align-items:center; 
        justify-content: center; 
        transition: 0.3s; 
        z-index: 9;   
    }

    .menu:focus {
        background-color: aqua;
    }

    .menu ul {
        display: block;
        flex-direction: column;
        height: 80%;


    }

    .menu li {
        margin-bottom: 20px;

    }


    .menu li:last-child {
        margin-bottom: 0;
    }

    .menu a {
        font-size: 20px;
    }

    .language-switch {
        display: none;
    }

    .sub-menu ul {
        display: flex;
        position: relative;
    }

    .sub-menu ul li {
        border: none;
        margin-left: 15px;
        background-color: white;
    }

    .sub-menu ul li a {
        font-size: 16px;
        line-height: 25px;
    }


    .sub-menu li{
        margin-bottom: 0;
    }
   
    /* メニューが開いたときのスタイル */
    .menu-open {
        left: 0;
    }
    main {
        padding: 10px;
        padding-top: 0;
        margin-top: 10px;
    }
    
    /* メニューが開いているときにスクロールを無効にする */
    body.no-scroll {
        overflow: hidden;
    }


}


  