/* 共通のスタイル */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* ヘッダースタイル */
header {
  background-color: whitesmoke;
  color: black;
}

header a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: black;
}

header img{
  width: 5rem;
}

header h1{
  font-size: 2rem;
  margin: 0;
}

.menu ul{
  margin: 0;
}

.menu li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide.active {
  opacity: 1;
}

.news li{
  padding-top: 2rem;
}

.title{
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}

.news h3 {
  background-color: #E9F2FB;
  padding: 1rem;
  margin-top: 2rem;
}


.members {
  max-width: 80vw;
  margin: 0 auto;
}
.members h3 {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: solid;
}

.card{
  display: flex;
  flex-direction: row;
  margin:2rem 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.card h4 {
  font-size: 2rem;
  font-weight:300;
  margin: 0.5rem 1rem
}
.card_img {
  height: 230px;
  width: 200px;
}

.card_img img {
  object-fit:cover;
  width:100%;
  height:100%;
  border-radius: 5px;
  overflow: hidden;
}
.card_body {
  padding: 10px;
}